  /* partita.component.css */
.game-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: auto 1fr auto;
  background: #1a1a1a;
}

.left-sidebar {
  width: 250px;
}

.main-content {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


app-character-actions {
  position: fixed;  /* Fissato rispetto alla viewport */
  bottom: 20px;       /* Distanza dal bordo inferiore */
  right: 20px;        /* Distanza dal bordo destro */
  width: 1000px;       /* Larghezza fissa per evitare schiacciamenti */
  max-height: 2000px;  /* Altezza massima per mantenere proporzioni */
  background: rgba(26, 26, 26, 0.9); /* Leggera trasparenza per separarlo dallo sfondo */
  border-radius: 12px; /* Angoli arrotondati per un design moderno */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Ombra per risaltare sopra gli altri elementi */
  overflow: hidden; /* Evita overflow del contenuto */
  z-index: 1000; /* Assicura che sia sopra gli altri elementi */
}









