<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Combattimento</title>
</head>

<body style="background-color: lightgoldenrodyellow;">

    <div class="container-fluid display: flex; flex-wrap: nowrap;">
        <div class="row">

            <!-- COLONNA DEI BOSS -->

            <div class="col" style="display:flex; align-items:center;margin-left: 100px; flex-basis: 25%;">
                <div class="row align-self-center justify-content-center">
                    <ng-container *ngIf=" selectedBosses.length> 0">
                        <ng-container *ngIf="selectedBosses.length <= 2; then bossCase1; else bossCase2"></ng-container>
                        <ng-template #bossCase1>
                            <div *ngFor=" let b of selectedBosses;">
                                <div class="p-2 d-flex align-items-center; justify-content-center;">
                                    <table class="carte" style="margin-left: 200px">
                                        <tr>
                                            <td><img [src]="b.descrizione" class="carte"></td>
                                        </tr>

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>PV</th>
                                                    <th>ATK</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{b.puntiVitaMassimi}}</td>
                                                    <td>{{b.attacco}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </table>
                                </div>
                            </div>
                        </ng-template>
                        <!--CASO CON 3 CARTE BOSS O PIU-->
                        <ng-template #bossCase2>
                            <div class="col" style="display:flex; align-items:center;">
                                <div class="row align-self-center">
                                    <div class="col-6" *ngFor="let b of selectedBosses;">
                                        <!-- il justify content centra orizzontalmente nella colonna-->
                                        <div class="p-2 d-flex align-items-center justify-content-center">
                                            <table class="carte">
                                                <tr>
                                                    <td><img [src]="b.descrizione" class="carte"></td>
                                                </tr>

                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>PV</th>
                                                            <th>ATK</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{b.puntiVitaMassimi}}</td>
                                                            <td>{{b.attacco}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>

            <!--COLONNA CENTRALE-->

            <div class="col-sm-4 d-flex justify-content-center align-items-center flex-basis: 0%;">
                <div class="row align-self-center justify-content-center">
                    <img src="assets/images/vs.png" style="width: 80%;">
                </div>
            </div>

            <!-- COLONNA DEGLI EROI -->

            <div class="col" style="display:flex; align-items:center; flex-basis: 25%;">
                <div class="row align-self-center justify-content-center">
                    <ng-container *ngIf="selectedHeroes.length > 0">
                        <ng-container *ngIf="selectedHeroes.length <= 2; then heroCase1; else heroCase2"></ng-container>
                        <ng-template #heroCase1>
                            <div class="row" *ngFor="let h of selectedHeroes;">
                                <div class="p-2 d-flex align-items-center justify-content-center">
                                    <table class="carte">
                                        <tr>
                                            <td><img [src]=" h.descrizione" class="carte">
                                            </td>
                                        </tr>

                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>PV</th>
                                                    <th>ATK</th>
                                                    <th>DEF</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{h.puntiVitaMassimi}}</td>
                                                    <td>{{h.attacco}}</td>
                                                    <td>{{h.difesa}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="dropdown">
                                            <button class="dropbtn">Attacca</button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <div *ngFor="let b of
                                                selectedBosses;">
                                                    <button
                                                        style="background-color:goldenrod; width: 100%;">{{b.nome}}</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dropdown">
                                            <button class="dropbtn">Ricevi
                                                attacco</button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <div *ngFor="let b of
                                                selectedBosses;">
                                                    <button
                                                        style="background-color:goldenrod; width: 100%;">{{b.nome}}</button>
                                                </div>
                                            </div>
                                        </div>

                                    </table>
                                </div>
                            </div>
                        </ng-template>
                        <!--CASO CON 3 CARTE EROE O PIU-->
                        <ng-template #heroCase2>
                            <div class="col">
                                <div class="row">
                                    <div class="col-6" *ngFor="let h of selectedHeroes;">
                                        <div class="p-2 d-flex align-items-center justify-content-center"
                                            style="width: 10%;">
                                            <table class="carte align-items-center" style="width: 50%;">
                                                <tr>
                                                    <td><img [src]=" h.descrizione" class="carte">
                                                    </td>
                                                </tr>

                                                <table class="table table-bordered" style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th>PV</th>
                                                            <th>ATK</th>
                                                            <th>DEF</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>{{h.puntiVitaMassimi}}</td>
                                                            <td>{{h.attacco}}</td>
                                                            <td>{{h.difesa}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="dropdown">
                                                    <button class="dropbtn">Attacca</button>
                                                    <div id="myDropdown" class="dropdown-content">
                                                        <div *ngFor="let b of
                                                        selectedBosses;">
                                                            <button style="background-color:goldenrod; width: 100%;"
                                                                (click)="attacco(b.id, h.id)">{{b.nome}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="dropbtn">Ricevi
                                                        attacco</button>
                                                    <div id="myDropdown" class="dropdown-content">
                                                        <div *ngFor="let b of
                                                        selectedBosses;">
                                                            <button style="background-color:goldenrod; width: 100%;"
                                                                (click)="riceviAttacco(h.id, b.id)">{{b.nome}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>






    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>